<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Venue</th>
				<th>City</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(showId, show) in shows">
				<td>{{show.date | date}}</td>
				<td>{{show.venue}}</td>
				<td>{{show.city}}</td>
				<td>{{show.details}}</td>
				<td><a ng-click="deleteShow(showId)">delete</a>
			</tr>
		</tbody>
	</table>
</div>

<div class="container">
	<div ng-controller="AddShowModalCtrl">
		<script type="text/ng-template" id="myModalContent.html">
			<div class="modal-header">
				<h3 class="modal-title">Add a show</h3>
			</div>
			<div class="modal-body">
				<form role="form" ng-show="true">
					<div class="form-group col-med-4">
						<label for="inputVenue">Venue</label>
						<input type="text" class="form-control" id="inputVenue" placeholder="Driftwood Char Bar" ng-model="show.venue">
					</div>
					<div class="form-group col-med-4">
						<label for="inputDate">Date</label>
						<input type="date" class="form-control" id="inputDate" ng-model="show.date">
					</div>
					<div class="form-group col-med-4">
						<label for="inputCity">City</label>
						<input type="text" class="form-control" id="inputCity" placeholder="Minneapolis, MN" ng-model="show.city">
					</div>
					<div class="form-group col-med-4">
						<label for="inputDetails">Details</label>
						<input type="text" class="form-control" id="inputDetails" placeholder="Enter details" ng-model="show.details">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" ng-enter="ok()" ng-click="ok()">Add</button>
				<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
			</div>
		</script>

		<button class="btn btn-default" ng-click="open()">Add show</button>
	</div>
</div>